{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <h3 class="display-4">Deletar Associado</h3>

    <div class="card">
      <div class="card-body">
        <p class="card-text">Tem certeza de que deseja excluir o associado <strong>{{ object.nome }}</strong>?</p>
        <p class="text-danger"><i class="fas fa-exclamation-triangle"></i> Esta ação não pode ser desfeita.</p>

        <form method="post">
          {% csrf_token %}
          <div class="d-flex mt-4">
            <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
            <a href="{% url 'associado-list' %}" class="btn btn-secondary ms-2">Cancelar</a>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}